
{% extends "base-template.html" %}
{% block title %}
    Chat
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbox.css') }}" />
    <h1>Welcome to the chat</h1>

    <div id="chatbox"></div>
        <meta charset="utf-8" />
        <title>Chat Application</title>
        <meta name="description" content="Chat Application" />
    </div>

    <div class="write_chatbox">
        <form action="{{ url_for('bp_user.chat_post') }}" method="POST">

        <input type="text" name="body" placeholder="Message Title" />
        <br />
        <input class="send-button" type="submit" value="Send" />
         </form>
        <script type = "text/javascript">
        </script>
    </div>

{% endblock %}