{% extends "base-template.html" %}
{% block title %}
    Send a Message
{% endblock %}
{% block content %}
    <h1>Sending a message to {{receiver.name}}</h1>
    <form action="{{url_for('bp_user.message_post', user_id=user_id)}}" method="POST">

    </form>



 <div class="column is-4 is-offset-4">

        <br/>
        <button onclick="generateKey()">Generate AES Key</button>
        <input id="key" placeholder="AES key (enter text or generate)" />


     <input type="hidden" id="receiver_id" value="{{ receiver.id }}">

        <p>Upload public key</p>
        <input type="file" id="pub-file" enctype="multipart/form-data" />
        <button onclick="readPublicKey()">Read Public Key</button><span id="pub-loaded"></span>

        <button onclick="rsaEncrypt()">Encrypt AES-key</button>
        <br/>
        <br/>




            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input id="title" name="Title" class="input" type="text" placeholder="Message Title">
                </div>
            </div>

            <div class="field">
                <label class="label">Message</label>
                <div class="control">

                    <input id="messagejson" name="content" class="input textarea" type="text" placeholder="Message to Encrypt">
                    <button onclick='encrypt()'>Encrypt</button>
                </div>
            </div>

            <div class="field">
                <label class="label">Encrypted AES key</label>
                <div class="control">
                <input id="encrypted_AES" name="encrypted_AES_key" class="input text" type="text" placeholder="">
                </div>
            </div>
        <button onclick='fetcher()'>Send</button>
{#        <form action="{{ url_for('bp_user.message_post', user_id=user_id, receiver_id=receiver_id, title=title) }}" method="POST" class="box">#}
{#            #}
{#        </form>#}


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="../static/js/rsa.js"></script>
    <script>

        let key;
        let encrypted;
        let encrypted_rsa;
        let AES_key;
        let publicKey;

        function generateKey() {
            key = CryptoJS.lib.WordArray.random(16).toString();
            document.getElementById("key").value = key;
        }

        function encrypt() {
            let message = document.getElementById("messagejson").value;
            encrypted = CryptoJS.AES.encrypt(message, key);
            document.getElementById("messagejson").value = encrypted;
            console.log(encrypted)


        }

        function readPublicKey() {
            // Get the public file chooser files
            let files = document.getElementById("pub-file").files;
            // and exctract the first file, the one we want
            let file = files[0];

            // Create a file reader object
            let reader = new FileReader();

            // When the file is read, this function will be called
            reader.onloadend = function (event) {
                // Get the file contents
                publicKey = event.target.result;
                // Remove all new lines in the key
                publicKey = publicKey.replace(/(\r\n|\n|\r)/gm, "");
                // Notify the user that the file is read
                document.getElementById("pub-loaded").innerHTML = "Public key loaded";
            };

            // Read the file
            reader.readAsText(file);
        }

        function rsaEncrypt() {
            // Get the message to encrypt
            let AES_key = document.getElementById("key").value;
            // Create a RSA object
            let rsaEncrypt = new JSEncrypt();
            // Set the public key we want to use for encryption
            rsaEncrypt.setPublicKey(publicKey);
            // Show the encrypted message on the page
            document.getElementById("encrypted_AES").value = rsaEncrypt.encrypt(AES_key);
        }

            function fetcher() {
                return fetch('http://127.0.0.1:5000/message/', {
                    method: 'POST',
                    body: JSON.stringify(
                        {"body": encrypted.toString(),
                        "title": document.getElementById("title").value,
                        "receiver_id": document.getElementById("receiver_id").value

                    }),
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8'
                    }

                }).then(function(response) {
                        if (response.ok) {
                            location.href='{{ url_for('bp_user.messages_get_sent') }}';
                            return "OK";
                        }

                });
            }

    </script>

{% endblock %}